# Data Science Tools and Ecosystems

###In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: Python, R, SQL

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
1.Pandas
2.Numpy
3.Matplotlib

In [ ]:
| Data Science Tools      |
|-------------------------|
| Jupyter Notebook        |
| RStudio                 |
| Visual Studio Code (VSCode) |

### Below are a few examples of evaluating arithmetic expressions in Python.

In Python, you can perform various arithmetic operations, such as addition, subtraction, multiplication, and division, using mathematical operators. Here are some examples:

1. **Addition:**
   ```python
   result = 5 + 3
   '''result = 10 - 4

In [ ]:
# This is a simple arithmetic expression to multiply and then add integers.
result = (3* 4) + 5
result

In [ ]:
result= (3*4)+5